* {
  margin: 0;
  padding: 0;
}

.hero-section {
  background-color: #000; /* Used if the image is unavailable */
  min-height: 60vh;
  position: relative;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-image: url('../public/images/hero.jpg'); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 0.7;
}

.hero-text {
  z-index: 1;
}

.hero-section h1,
.hero-section p {
  color: #fff;
}
